
/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

* {
	margin: 0;
	padding: 0;
}

body, th, td {
    /*
	background: #FFFFFF url(images/img01.gif) repeat-x;
    */
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #666666;
}

h1, h2 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: normal;
}

h1 {
	font-size: 197%;
}

h2 {
	font-size: 167%;
}

h3 {
	margin-bottom: 1em;
	text-transform: uppercase;
	font-size: 100%;
	color: #000000;
}

p, ul, ol {
	margin-bottom: 1.5em;
	line-height: 1.6em;
}

p {
}

ol {
}

ul {
	list-style: none;
}

ul li {
	padding-left: 10px;
}

a:link {
	color: #3490F8;
}

a:hover, a:active {
	text-decoration: none;
	color: #F89934;
}

a:visited {
	color: #666666;
}

img {
	border: none;
}

img.left {
	float: left;
	margin: 0 20px 10px 0;
}

img.right {
	float: right;
	margin: 0 0 10px 20px;
}

.byline {
	color: #CCCCCC;
}

.col-one {
	float: left;
}

.col-two {
	float: right;
}

.two-cols {
}

.two-cols .col-one, .two-cols .col-two {
	width: 250px;
}
#sidebar .col-one.wide  {
    width: 340px;
}
#sidebar.wide {
    width: auto;
}
#content.wide {
    width: 600px;
}
#content.widest {
    width: 960px;
    margin: 0 auto;
    text-align: center;
}
.widest .col-one {
    float: none;
}
.special #content ul.configlets {
    text-align: left;
}
/* Boxes */

.box-orange {
	background: url(images/img09.gif) repeat-x;
}

.box-orange .section {
	background: url(images/img11.gif) no-repeat right top;
	font-size: 100%;
	color: #FFFFFF;
}

.box-orange .section b {
	display: block;
	height: 23px;
	padding: 7px 0 0 10px;
	background: url(images/img10.gif) no-repeat;
}

.box-orange .content {
	padding: 20px;
}

.box-blue {
	background: url(images/pleca.png) repeat-x;
}

.box-blue .section {
	background: url(images/corner2.png) no-repeat right top;
	font-size: 100%;
	color: #FFFFFF;
}

.box-blue .section b {
	display: block;
	height: 23px;
	padding: 7px 0 0 10px;
	background: url(images/corner1.png) no-repeat;
    overflow: hidden;
}

.box-blue .content {
	padding: 20px;
}

.box-pink {
	background: url(images/img17.gif) repeat-x;
}

.box-pink .section {
	background: url(images/img19.gif) no-repeat right top;
	font-size: 100%;
	color: #FFFFFF;
}

.box-pink .section b {
	display: block;
	height: 23px;
	padding: 7px 0 0 10px;
	background: url(images/img18.gif) no-repeat;
}

.box-pink .content {
	padding: 20px;
}

/* Header */
#leaderboard {
    height: 90px;
    width: 960px;
    display: block;
    background-image: url(images/bg_leaderboard.png);
    margin: 0 auto;
    text-align: center;
}

#header {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#003366', endColorstr='#6699cc'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#003366), to(#6699cc)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #003366,  #6699cc); /* for firefox 3.6+ */ 
    background-image: url(images/header.png);
    background-repeat: repeat-x;
    width: 960px;
	height: 150px;
	margin: 0 auto;
}

/* Logo */

#logo {
	float: left;
    margin: 0 0 0 15px;
}

#logo h1, #logo h2 {
	float: left;
}

#logo h1 {
	padding-top: 40px;
	text-transform: lowercase;
	font-size: 34px;
	font-weight: normal;
}

#logo h2 {
	padding: 63px 0 0 3px;
	text-transform: uppercase;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
}

#logo a {
	text-decoration: none;
	color: #000000;
}

/* Search */

#search {
	float: right;
	width: 300px;
	padding-top: 55px;
}

#search form {
}

#search fieldset {
	border: none;
}

#searchinput, #nolivesearchGadget, #searchsubmit, .searchButton {
	font: bold 100% Verdana, Arial, Helvetica, sans-serif;
}

#searchinput, #nolivesearchGadget {
	padding: 2px 5px;
	width: 198px;
	background: #FFFFFF url(images/img02.gif) repeat-x;
	border: 1px solid #FFFFFF;
	color: #999999;
}
#nolivesearchGadget:focus {
    color: #000000;
}

#searchsubmit, .searchButton {
	padding: 2px;
    background-color: #dce89d;
	color: #336699;
	border: 1px solid #000000;
	text-transform: capitalize;
    margin-left: 5px;
}
#searchsubmit:hover, .searchButton:hover {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dce89d', endColorstr='#c6db60'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#dce89d), to(#c6db60)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #dce89d,  #c6db60); /* for firefox 3.6+ */ 
    color: #009dcf;
}

/* Menu */

#menu {
    clear: both;
	width: 960px;
	height: 30px;
	margin: -20px auto 0 5px;
}

#menu ul {
    clear: both;
	margin: 0;
	list-style: none;
	line-height: normal;
}
#menu li {
	display: block;
	float: left;
	margin-right: 3px;
	padding: 0;
}
#menu a {
	display: block;
	float: left;
    padding: 5px 15px;
	color: #336699;
	background-color: #dce89d;
	text-decoration: none;
    font-weight: bold;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#menu a:hover, #menu li.selected a {
	background-color: #c6db60;
	color: #009dcf;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dce89d', endColorstr='#c6db60'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#dce89d), to(#c6db60)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #dce89d,  #c6db60); /* for firefox 3.6+ */ 
}

#menu b {
	display: block;
	float: left;
	height: 23px;
	padding: 7px 20px 0 20px;
	background: url(images/img08.gif) no-repeat right top;
	cursor: hand;	
}

#menu li.active {
	background: #CFCECE url(images/img04.gif) repeat-x;
}

#menu li.active a {
	background: url(images/img06.gif) no-repeat right top;
	color: #C90404;
}

#menu li.active b {
	background: url(images/img05.gif) no-repeat;
}

/* Date */
#date {
    display: inline-block;
    float: right;
}
/*
*/
/* Page */

#page {
	width: 960px;
	margin: 0 auto;
	padding: 0;
    background-color:none;
}

/* Content */

#content {
    background-color:#ffffff;
	float: left;
	width: 520px;
    margin:0;
    font-size: 13px;
}
#content h1 {
    font-size: 17px;
}
.wide #content .col-one {
    width: 600px;
}
/* Feature */

#feature {
	margin-bottom: 20px;
    min-height: 35px;
}

/* Sidebar */

#sidebar {
	float: right;
	width: 420px;
}

#sidebar .col-one {
	width: 200px;
}

#sidebar .col-two {
	width: 200px;
}

/* Footer */

#footer {
	height: 100px; width: 960px;
	margin: 0 auto; padding: 20px;
	background: #DDDDDD;
	border-top: 1px solid #999999;
}

#footer a {
	display: inline-block;
    padding: 5px 5px;
	color: #336699;
	text-decoration: none;
    font-weight: bold;
}
#footer a:hover {
    text-decoration: underline;
}
#footer p {
	margin: 0;
	text-align: center;
	font-size: 85%;
}

/* Plone overrides */
#portal-breadcrumbs {
    margin: 5px;
    display: inline-block;
    width: auto;
}
#portal-logo {
    margin: 1.375em 0 0.75em 0;
}
#content img.tileImage, .newsMainStory img {
    padding: 5px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}
.listing #content img.tileImage, .listing #content div.newsImageContainer {
    float: left;
}
.item #content div.newsImageContainer {
    text-align: center;
}
.item #content div.newsImageContainer p.discreet {
    position: static;
    background-color: #3a7ca6;
    padding: 10px 5px;
}
#content .tileHeadline {
    line-height: 1.2em;
}
#content .tileBody {
    line-height: 1.35em;
}
#content-core, #content .documentDescription {
    margin: 10px !important;
    text-align: left;
}
.portletWrapper h2 {
    font-size: 12px; font-weight: bold;
    text-transform: uppercase;
}
.carousel .scrollable {
    height: 250px !important;
}
div.scrollable div.items div.itemPadding {
   margin: 0.3em 1em;
}
div.navi a {
    border: 1px solid #bbbbbb;
}
div.navi a.active {
    background-color: #205C90;
    border: 1px solid #205C90;
}
img.image-left, img.image-right {
    border: none;
}
#viewlet-below-content {
    clear: both;
}
dl.portlet dd.portletItem, dl.portlet dd.portletFooter, dl.portletError dd {
    padding: 5px;
}
#page dl, dl.portlet {
    margin: 0;
}
#legal, #links {
    display: none;
}
#page #edit-bar, #page #content-views, #page #contentActionMenus {
    background: url("images/pleca.png") repeat-x scroll 0 0 transparent;
    border: none;
}
#page #edit-bar ul {
    list-style-type: none;
    margin: 2px;
}
 {
}
#page #content-views li, #page #contentActionMenus li {
    display: inline;
    padding: 0;
}
#page #edit-bar a {
	display: inline-block;
    border: none;
    padding: 0 5px;
	color: #336699;
	background-color: #dce89d;
    line-height: 19px;
	text-decoration: none;
    font-weight: bold;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#page #edit-bar a:hover, #page #edit-bar li.selected a {
	background-color: #c6db60;
	color: #009dcf;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dce89d', endColorstr='#c6db60'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#dce89d), to(#c6db60)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #dce89d,  #c6db60); /* for firefox 3.6+ */ 
}
#page #edit-bar li.selected a {
    color: #000000;
}   
.special, #portal-personaltools ul, #portal-sitemap {
    text-align: left;
}
#portal-personaltools li {
    padding: 0;
}
